#jogoVelha{
    margin-top: 10%;
    display: grid;
    grid-template-columns: 3;
    justify-content: center;
}
#secaoUm{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#secaoDois{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#secaoTres{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#divisores{
    background-color: black;
    width: 1px;
    height: 100px;
}

#divisoresContrario{
    background-color: black;
    width: 350px;
    height: 1px;
}

.a{
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-color: white;
    border: solid;
    border-color: white;
}